<!--Sidebar content-->
<ul class="nav nav-list">
  <li>
  <a href="#user">User</a>
  </li>
  <li class="nav-header">
  Live Events
  </li>
  <li><a href="#live-event">Live event</a></li>
  <li><a href="#event-message">Event chat</a></li>
  <li><a href="#event-card">Event card</a></li>
  <li><a href="#announcement">Announcement</a></li>
  <li><a href="#command">Command</a></li>
  <li class="nav-header">
  Groups
  </li>
  <li><a href="#group">Group</a></li>
  <li><a href="#membership">Membership</a></li>
  <li><a href="#group-chat">Group chat</a></li> 
  <li class="nav-header">
  Questions
  </li>
  <li><a href="#multiple-choice">Multiple choice</a></li>
  <li><a href="#keyboard">Keyboard</a></li>
  <li><a href="#keypad">Keypad</a></li>
  <li><a href="#range">Range</a></li>
  <li><a href="#list">List</a></li>
  <li><a href="#selection">Selection</a></li>
</ul>
