    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand"><a href="{{ site.baseurl }}/index.html">OtherScreen</a> <span class="version">1.0</span></span>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% if page.section == 'tutorial' %}active{% endif %}">
                <a href="{{ site.baseurl }}/tutorials/index.html">Tutorials</a>
              </li>              
              <li class="{% if page.section == 'reference/data' %}active{% endif %}">
                <a href="{{ site.baseurl }}/reference/data/index.html">Reference: Models</a>
              </li>
              <li class="{% if page.section == 'reference/api' %}active{% endif %}">
                <a href="{{ site.baseurl }}/reference/api/index.html">Reference: API</a>
              </li>
              <li class="{% if page.section == 'websockets' %}active{% endif %}">
                <a href="{{ site.baseurl }}/websockets.html">WebSockets</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
