    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand"><a href="./index.html">OtherScreen</a> <span class="version">1.0</span></span>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./tutorial.html">API Tutorial</a>
              </li>              
              <li class="">
                <a href="./reference.html">API Reference</a>
              </li>
              <li class="">
                <a href="./websockets.html">WebSockets</a>
              </li>
              <li class="">
                <a href="./changelog.html">History</a>
              </li>
              <li class="">
                <a href="./roadmap.html">Roadmap</a>
              </li>
              <li class="">
                <a href="./contact.html">Contact</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
