<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OtherScreen API Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

      {% include html_head.html %}
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
    {% include navbar.html %}
    <div class="container">

    {{ content }}
    
     <!-- Footer
      ================================================== -->
    {% include footer.html %}
    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include javascripts.html %}
  </body>
</html>

